<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huangjiang.taskcenter.orm.mapper.PermissionMapper">

    <select id="queryRoleByPath" parameterType="string" resultType="com.huangjiang.taskcenter.orm.entity.RoleEntity">
        select * from role r, role_permission rp, permission m
        where r.id = rp.role_id and rp.permission_id = m.id
        and m.url like concat('%', concat(#{url}, '%'))
    </select>

    <select id="queryUserRole" parameterType="string" resultType="com.huangjiang.taskcenter.orm.entity.RoleEntity">
        select * from role r, user_role ur
        where r.id = ur.role_id and ur.user_id = #{userId}
    </select>
</mapper>
