<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huangjiang.taskcenter.orm.mapper.UserMapper">

    <insert id="insert" parameterType="com.huangjiang.taskcenter.orm.entity.UserEntity">
        insert into user(id, password, apartment_id, status, mobile, email, cn, manager, info, created_at, updated_at)
        values (
        #{id,jdbcType=VARCHAR},
        #{password,jdbcType=VARCHAR},
        #{apartmentId,jdbcType=VARCHAR},
        #{status,jdbcType=VARCHAR},
        #{mobile,jdbcType=VARCHAR},
        #{email,jdbcType=VARCHAR},
        #{cn,jdbcType=VARCHAR},
        #{manager,jdbcType=VARCHAR},
        #{info,jdbcType=VARCHAR},
        #{createdAt,jdbcType=BIGINT},
        #{updatedAt,jdbcType=BIGINT}
        )
    </insert>

    <delete id="delete" parameterType="java.lang.String">
        delete from user where id = #{id, jdbcType=VARCHAR}
    </delete>

    <update id="update" parameterType="com.huangjiang.taskcenter.orm.entity.UserEntity">
        update user
        <trim prefix="set" suffixOverrides=",">
            <if test="password != null and password != ''">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="apartmentId != null and apartmentId != ''">
                apartment_id = #{apartmentId,jdbcType=VARCHAR},
            </if>
            <if test="status != null and status != ''">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null and mobile != ''">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="email != null and email != ''">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="cn != null and cn != ''">
                cn = #{cn,jdbcType=VARCHAR},
            </if>
            <if test="manager != null and manager != ''">
                manager = #{manager,jdbcType=VARCHAR},
            </if>
            <if test="info != null and info != ''">
                info = #{info,jdbcType=VARCHAR},
            </if>
            <if test="updatedAt != null">
                updated_at = #{updatedAt,jdbcType=BIGINT},
            </if>
        </trim>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <select id="exist" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(1) from user where email = #{email,jdbcType=VARCHAR}
    </select>

    <select id="selectByEmail" parameterType="java.lang.String" resultType="com.huangjiang.taskcenter.orm.entity.UserEntity">
        select id, password, apartment_id apartmentId, status, mobile, email, cn, manager, info, created_at createdAt, updated_at updatedAt
        from user where email = #{email}
    </select>
</mapper>
